@counter-style list01 {
    /* fixed表示，当symbols用完后，剩下的元素将用fallback属性规则 */
    system: fixed;
    /* 指定一组符号用于替代system属性的整数 */
    symbols: "💝" "💖" "💗" "❣️" "🔚"
    /* 在symbols属性指定的符号之后内容 */
    suffix: " ";
    /* 指定本计数规则计数完毕后的后继规则 */
    /* fallback: list01; */
}